.header{
    width: 100%;
    height: 150px;
    background-color: var(--menu);
}

.header__logo{
    margin-left: calc(52% - 30.665px );
    transform: translate(0 , 100px);
}

.header__logo>img{
    margin-top: 45px;
}

.header__lang{
    margin-left: calc(80% - 30.665px );
}

.header__lang>img{
    transform: translate(0 , -100px);
}


