.header{
    height: 150px;
    background-color: var(--menu);
}

.header__logo{
    margin-left: calc(52% - 30.665px );
    transform: translate(0 , 100px);
}

.header__logo>img{
    margin-top: 45px;
}

.header__lang{
    margin-left: calc(85% - 30.665px );
}

.header__lang>img{
    transform: translate(0 , -100px);
}

.menuBtn{
    transform: translate(0 , -102px);
    visibility: hidden;
}

.menu__icon{
    visibility: visible;
    width: 30px;
}
