.projet{
    margin-left: 22px;
    padding-top: 5px;
}

.homepage__highlight{
    color: var(--textHomepage);
}

.homepage__intro{
    position: relative;
    padding-top: 60px;
    z-index: -1;
}

.homepage__text{
    position: absolute;
    width: 354px;
    height: 102px;
    left: 10px;
    top: 343px;
    z-index: -1;
}

.homepage__title1{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: black;
    margin-left: 20px;
    margin-right: 80px;
    padding-top: 20px;
}

.homepage__pois{
    position: relative;
    margin-left: 110px;
    margin-top: -100px;
    z-index: -1;
}

.homepage__block{
    background-color: var(--article);
}

.homepage__title2{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: black;
    text-align: center;
    margin-top: 40px;
    padding-top: 30px;
}

.homepage__content{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.homepage__plus{
    margin-left: 160px;
    padding-bottom: 10px;
}

.homepage__stripes{
    padding-top: 30px;
    margin-left: 23px;
}

.homepage__title3{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.homepage__title4{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    color: var(--textHomepage);
    text-align: center;
    margin-left: 90px;
    margin-right: 80px;
    padding-bottom: 10px;
}

.homepage__fleche{
    display: flex;
    margin-left: 160px;
}

.homepage__btn{
    margin-left: 63px;
    padding-top: 30px;
    margin-bottom: 30px;
}