/* article oeuvres */
.oeuvre{
    margin-top: 30px;
}

.oeuvre__title{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: black;
    margin-left: 15px;
}

.oeuvre__content{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: black;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.oeuvre__img{
    width: 80%;
    margin-left: 36px;
}

/* article sur le mouvement artistique */
.orientalisme{
    background-color: var(--article);
    margin-top: 60px;
}
.orientalisme__title{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: black;
    text-align: center; padding-top: 20px;
}