/* article oeuvres */
.oeuvre{
    margin-top: 30px;
}

.oeuvre__title{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: black;
    margin-left: 15px;
}

.oeuvre__content{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: black;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.oeuvre__img{
    width: 80%;
    margin-left: 36px;
}

/* article sur le mouvement artistique */
.orientalisme{
    background-color: var(--article);
    margin-top: 60px;
    padding-bottom: 20px;
}
.orientalisme__title{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: black;
    text-align: center; padding-top: 20px;
    padding-top: 40px;
}
.orientalisme__content{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}
.orientalisme__img{
    width: 70%;
    margin-left: 56px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* les info utiles */
.info{
    background-color: var(--article);
    margin-top: 60px;
    padding-bottom: 40px;
    margin-bottom: 30px;
}
.info__title{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: black;
    padding-top: 20px;
    text-align: center;
}
.info__content{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}
.info__content2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: -15px;
}
.info__ligne{
    margin-left: 28px;
    margin-top: 30px;
}
.info__fleche{
    display: flex;
    margin-left: 150px;
}
.info__billet{
    margin-left: 105px;
    margin-top: 20px;
}

/* les artistes */
.artiste__title{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: black;
    padding-top: 20px;
    margin-left: 15px;
}
.artiste__title2{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: black;
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.artiste__content{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: black;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 0;
}
.artiste__legende{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}
.artiste__img1{
    width: 80%;
    margin-left: 38px;
}
.artiste__img2{
    width: 50%;
    margin-left: 95px;
}
.artiste__img3{
    width: 80%;
    margin-left: 38px;
}
.artiste__img4{
    width: 50%;
    margin-left: 95px;
}