.formulaire{    
    background-color: var(--menu);
}

.contact__fermer{
    margin-left: 310px;
}

.contact__info{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: var(--fond);
    margin-left: 20px;
}

.formulaire__case{
    display: flex;
    margin: auto;
    padding-top: 10px;
    border-radius: 3px;
    width: 250px;
}

.formulaire__type{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: var(--fond);
    margin-left: 50px;
}

.obligatoire{
    color:red;
}

.formulaire__send{
    font-family: 'Inter';
    color: #000000;
    font-size: 14px;
    display: flex;
    margin: auto;
    margin-top: 25px;
    background-color: var(--article);
    border:none;
    padding: 8px;
    margin-bottom: 10px;
}
    