.menuBtn{
    position: relative;
    z-index: 10;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    width: 80px;
    cursor: pointer;
    top: -135px;
    margin-left: 310px;
}


.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 380px;
    height: 100vh;
    background-color: var(--menu);
    place-content: center;
    overflow: hidden;
}

.menu__categorie{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FAFAFA;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 20px;
    text-decoration: none;
}
.menu__categorie2{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FAFAFA;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    text-decoration: none;
}

.menu__categorie3{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FAFAFA;
    text-align: center;
    text-decoration: none;
    margin-top: -20px;
}

.menu__item{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FAFAFA;
    text-decoration: none;
}